h1 {
    text-align: center;
}

#calculator {
    width: 200px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #aaa;
}

#display {
    width: 90%;
    padding: 10px;
    margin-bottom: 25px;
    text-align: right;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
}

#buttons button {
    width: 25%;
    padding: 20px 0;
    font-size: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    flex: 1 0 25%;
}